section {
    height: 100vh;
}

body {
    background-color: blueviolet;
    background-image: url('./asset/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
}

#header {
    z-index: 1;
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: red;
    margin: auto;
    height: 80px;
}

#header .header_titulo {
    background-color: blue;
    margin-left: 10px;
    padding: 10px;
}

#header .header_nav {
    display: flex;
    align-items: center;
    width: 40%;
}

#header .header_nav_ul {
    display: flex;
    align-items: center;
    background-color: green;
    height: 60%;
    width: 100%;

}

#header .header_nav_ul li {
    width: 100%;
}

#main {
    margin: auto;
    width: 90%;
}

#main_section_foto {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_section_foto .main_section_foto_div {
    background-image: url("/web/src/asset/img/foto-cv.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 410px;
    width: 340px;
    border-radius: 50%;
    border: 1px solid wheat;
}

.main_section_link_div ul {
    display: flex;
    justify-content: space-around;
}

#main_section_sobre_mi {
    background-color: transparent;
    width: 100%;
    display: flex;
/*     justify-content: center;
    align-items: center; */
}

.main_section_sobre_mi_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_section_sobre_mi .main_section_sobre_mi_div {

    font-size: 30px;
}

#main_section_sobre_mi .main_section_sobre_mi_div {

    width: 50%;

}

#main_section_conocimientos {
    background-color: transparent;
}

#main_section_diplomas {
    background-color: transparent;
}

#main_section_contacto {
    background-color: transparent;
    height: 90vh;
}
.form {
    background-color: transparent;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10x -5px rgb(0, 0, 0 / 30%);
    text-align: center;
}

.form__title {
    font-size: 2rem;
    margin-bottom: .5em;
    color: white;

}

.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group {
    position: relative;
    color: #5757577e;

}

.form__input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    /*  ///// */
    border-bottom: 1px solid var(--gris-f);
    font-family: var(--tipo-form);
}

.form__input:not(:placeholder-shown) {
    color: #4d4d46;
    background-color: #FFFAFA;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #c1e7dc;
}

.form__label {
    color: #e0f3ed;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10x);
    transition: transform .5s, color .3s;
}

.form__submit {
    background-color: #00b9be;
    color: #fff;
    font-family: var(--tipo-form);
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;

    transition: transform .4s;
}

.form__submit:hover {
    transform: scale(.98);
}
.form__a{
    text-decoration: none;
    color: whitesmoke;
}
.form__a:hover{
  scale: .98;
  color: #00b9be;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: violet;
    scale: 0;
    transform: left bottom;
    transition: transform .4s;
}

.form__input:focus~.form__line,
.form__input:not(:placeholder-shown)~.form__line {
    transform: scale(1);
}

footer {
    height: 10vh;
    background-color: transparent;
    width: 90%;
    margin: auto;
}